
<h2>Nuevo elemento</h2>
<form name="formulario" class="form-inline" ng-submit="anadir()">

    <div class="form-group" ng-class="{'has-error': formulario.producto.$invalid}">
        <label for="producto">Producto</label>
        <input type="text" class="form-control" name="producto" placeholder="Producto" ng-model="nuevo.producto" required>
    </div>

    <div class="form-group" ng-class="{'has-error': formulario.precio.$invalid}">
        <label for="precio">Precio</label>
        <input type="number" class="form-control" name="precio" placeholder="Precio" ng-model="nuevo.precio" required>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary" ng-disabled="!formulario.$valid">Añadir producto</button>
    </div>
</form>
