<!doctype html>
<html ng-app="app">
    <head>
        <meta charset="utf-8">
        <title>Galeria</title>
        <link rel="stylesheet" href="../../bower_components/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="style.css">
    </head>
  <body>
    
    <div class="container" ng-controller="MainCtrl">

      <!-- subir imagenes -->

      <div class="well"
          ng-class="{'drop-box': dropSupported}" 
          ng-file-drop="selectFiles($files);" 
          ng-file-drop-available="dropSupported=true">

          <h4 ng-show="dropSupported">Arrastrar para añadir</h4>

          <!-- webcam -->
          <webcam class="well" 
            on-stream="cameraStream(stream,video)" 
            on-error="cameraError(err)"
            on-streaming="cameraSuccess(video)"
            placeholder=""
            ng-show="!webcamError">
            <div class="alert alert-error" ng-show="webcamError">
                <span>Error!</span>
            </div>
            <div ng-show="!video && !webcamError">
                <span>Esperando a conectar</span>
            </div>
          </webcam>

          <span class="btn btn-success fileinput-button">
            <i class="glyphicon glyphicon-plus"></i>
            <span>Añadir</span>
            <input type="file" name="file" multiple="" ng-file-select="selectFiles($files)" />
          </span>

          <button class="btn btn-large" ng-click="makeSnapshot()" ng-disabled="!video">Foto!</button>
      </div>

      <!-- listar imagenes -->
      <ul class="upload">
        <li class="gallery" ng-repeat="file in items" ng-class="{'selected':file.selected}">
          <a ng-click="select(file)">
            <img ng-src="{{file.dataUrl || file.url + '/' + file.cid}}">
          </a>
        </li>
      </ul>
    </div>

    <!-- bibliotecas -->
    <script src="../../bower_components/jquery/dist/jquery.js"></script>
    <script src="../../bower_components/angular/angular.js"></script>
    <script src="../../bower_components/ng-file-upload/angular-file-upload-shim.js"></script>
    <script src="../../bower_components/ng-file-upload/angular-file-upload-html5-shim.js"></script>
    <script src="../../bower_components/ng-file-upload/FileAPI.min.js"></script>
    <script src="../../bower_components/angular-resource/angular-resource.js"></script>
    <script src="../../bower_components/ng-file-upload/angular-file-upload.js"></script>
    <script src="../../bower_components/angular-translate/angular-translate.js"></script>
    <script src="../../bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
    <script src="../../bower_components/webcam-directive/app/scripts/webcam.js"></script>

    <!-- main.js -->
    <script src="app.js"></script>

</body>
</html>
